{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – Business ownership
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        {% if errors %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
    {% endif %}

    <form class="form" action="/business" method="post">

{{ govukRadios({
  name: "businessOwnership",
  idPrefix: "businessOwnership",
  fieldset: {
    legend: {
      text: "Is the business owned by you?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  value: data.businessOwnership,
  items: [
    { value: "yes", text: "Yes" },
    { value: "no", text: "No" }
  ],
  errorMessage: businessOwnershipErrorMessage
}) }}


      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}