{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – Personal contact detail
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Provide your Contact Details
      </h1>

      <form class="form" action="/contactPage" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}


          {{ govukInput({
            label: {
              text: "Full name"
            },
            id: "full-name",
            name: "fullName",
            autocomplete: "name",
            spellcheck: false,
            value: data.fullName or "",
            attributes: {
                required: true
              },
            errorMessage: {
              text: data.fullNameError
            } if data.fullNameError else undefined
          }) }}

          {{ govukInput({
            label: {
              text: "UK phone number"
            },
            id: "phone-number",
            name: "phoneNumber",
            type: "tel",
            autocomplete: "tel",
            classes: "govuk-input--width-20",
            value: data.phoneNumber or "",
            attributes: {
              pattern: "^[0-9]{11}$",
              title: "Please enter a valid phone number",
              required : true
            },
            errorMessage: {
              text: data.phoneNumberError
            } if data.phoneNumberError else undefined
          }) }}

          {{ govukInput({
            label: {
              text: "Email address"
            },
            hint: {
              text: "This contact will be used to comunicate with you"
            },
            id: "email",
            name: "email",
            type: "email",
            autocomplete: "email",
            spellcheck: false,
            value: data.email or "",
            attributes: {
              required: true
            },
            errorMessage: {
              text: data.emailError
            } if data.emailError else undefined
          }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
