{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – Proposed installation date
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form class="form" action="/date-selection" method="post">

        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "installation-date",
          namePrefix: "installationDate",
          fieldset: {
            legend: {
              text: "When can the wind turbine be assembled from?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 31 3 2026"
          },
          items: [
            {
              name: "day",
              value: data.installationDateDay,
              classes: "govuk-input--width-2"
            },
            {
              name: "month",
              value: data.installationDateMonth,
              classes: "govuk-input--width-2"
            },
            {
              name: "year",
              value: data.installationDateYear,
              classes: "govuk-input--width-4"
            }
          ],
          errorMessage: dateErrorMessage
        }) }}

        {{ govukButton({
          text: "Continue to summary"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}