{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – Ineligible
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {% from "govuk/components/panel/macro.njk" import govukPanel %}

<style>
  .govuk-panel-denied .govuk-panel {
  background-color: #f3f2f1; 
  color: #0b0c0c;            
}
</style>

<div class="govuk-panel-denied">
  {{ govukPanel({
    titleText: "You cannot apply for a Wind Turbine Assembly Grant"
  }) }}
</div>

<p> 
  You are not a business owner.
</p>

<h2 class="govuk-heading-m">What to do next</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Go to <a href= https://www.business.gov.uk/start/?gclsrc=aw.ds&gad_source=1&gad_campaignid=23304184246&gclid=EAIaIQobChMIxZWlu6mNkgMVoZuDBx0SVwhvEAAYAiAAEgLvTfD_BwE/>register a business</a> and go through the application process</li>
  <li>Once you have created and registered your business you can reapply for this service</li>
</ul>

      <p>
        Read more <a href="/path/of/page">about this topic</a>.
      </p>

    </div>
  </div>

{% endblock %}
