{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – Not eligible
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/panel/macro.njk" import govukPanel %}

      <style>
        .govuk-panel-denied .govuk-panel {
          background-color: #f3f2f1;
          color: #0b0c0c;
        }
      </style>

      <div class="govuk-panel-denied">
        {{ govukPanel({
          titleText: "You cannot apply for a Wind Turbine Assembly Grant"
        }) }}
      </div>

      <p>
        To qualify for this grant, you must commit to maintaining and operating the wind turbine for a minimum of 20 years.
      </p>

      <h2 class="govuk-heading-m">What to do next</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Review the 20-year maintenance commitment requirements</li>
        <li>Once you are able to commit to maintaining the turbine for 20 years, you can reapply for this service</li>
      </ul>

      <p>
        For more information about the commitment requirements, <a href="https://www.find-government-grants.service.gov.uk/">view the grant requirements</a>.
      </p>

    </div>
  </div>

{% endblock %}
