{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – Is the property linked to the National Grid?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form class="form" action="/nationalGrid" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set nationalGrid %}
          {{ govukInput({
            id: "national-grid-ref",
            name: "NationalGridRef",
            type: "text",
            autocomplete: "off",
            spellcheck: false,
            classes: "govuk-!-width-one-third",
            value: data.NationalGridRef or "",
            label: {
              text: "National Grid Reference Number, e.g. NZ 123456 or TQ298804"
            },
            attributes: {
              pattern: "^[A-Za-z]{2}\\s*\\d{6}$"
            },
            errorMessage: nationalGridRefErrorMessage
          }) }}
        {% endset %}

        {{ govukRadios({
          name: "contact",
          fieldset: {
            legend: {
              text: "Is the property linked to the national grid?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one option"
          },
          value: data.contact,
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: nationalGrid
              }
            },
            {
              value: "no",
              text: "No"
            }
          ],
          errorMessage: contactErrorMessage
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}