{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – National Grid
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/property" method="post">

{% from "govuk/components/radios/macro.njk" import govukRadios %}



        {{ govukRadios({
          name: "ownership",
          fieldset: {
            legend: {
              text: "Is the property owned by the business?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.ownership,
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ],
          errorMessage: {
            text: data.ownershipError
          } if data.ownershipError else undefined
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
