{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}


{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}


  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "https://www.gov.uk/"
      },
      {
        text: "Section",
        href: "https://www.find-government-grants.service.gov.uk/static/page-not-found"
      },
      {
        text: "Start"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p>Defra provides £20,000 grants for installing a wind turbine on your property. To qualify, you must own a business, and that business must own the land where the turbine will be installed.</p>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check your eligibility to have a wind turbine</li>
        <li>to apply for a grant</li>
      </ul>

      <p>The application takes around 5 minutes.</p>

      {{ govukButton({
        text: "Start now",
        href: "/contactPage",
        isStartButton: true
      }) }}


      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        You will need: 
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          your contact details.
        </li>      

        <li>
          the details about the property such as the size of it.
        </li>
      </ul>

        <p>
          You can’t apply for this service if you’re in the UK illegally.
        </p>
        <p>
          You can also <a href="https://www.find-government-grants.service.gov.uk/static/page-not-found">apply by post</a>.
        </p>

        <p>
          The online service is also <a href="https://www.find-government-grants.service.gov.uk/static/page-not-found">available in Welsh (ar gael yn Gymraeg)</a>.
        </p>


      </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related Links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.find-government-grants.service.gov.uk/static/page-not-found">
                Eco friendly Energy Options
              </a>
            </li>
            <li>
              <a href="https://www.find-government-grants.service.gov.uk/static/page-not-found">
                Apply for a solar pannel assembly grant
              </a>
            </li>
            <li>
              <a href="https://www.find-government-grants.service.gov.uk/static/page-not-found" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
